/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  background-color: #fbe7ff;
}

/* Header Styles */
header {
  background: #333333;
  color: #ffffff;
  padding: 1rem 0;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
}

header .logo {
  font-size: 1.5rem;
}

header .nav-links {
  list-style: none;
}

header .nav-links li {
  display: inline;
  margin-left: 1rem;
}

header .nav-links a {
  color: #fff;
  text-decoration: none;
}

/* Hero Section */
.hero {
  text-align: center;
  background: url("https://cdn.pixabay.com/photo/2016/11/19/22/52/coding-1841550_1280.jpg")
    no-repeat center center/cover;
  color: #fff;
  padding: 4rem 0;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hero .btn-primary {
  background: rgb(255, 99, 71);
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}

/* Courses Section */
.courses {
  padding: 2rem;
  text-align: center;
}

.courses h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.course-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.course-column {
  flex: 1;
  max-width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course-card {
  background: #fdf7ff;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(170, 85, 85, 0.1);
  text-align: left;
  width: 90%;
}

.course-card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.course-card h3 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.course-card p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.course-card .btn-secondary {
  background: #ff4a21;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}

/* Footer Styles */
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  header nav {
    flex-direction: column;
  }

  header .nav-links li {
    display: block;
    margin: 0.5rem 0;
  }

  .course-column {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .course-card {
    width: 100%;
  }
}
